<meta name="description" content="{{description}}">
  <title>{{title}}</title>
  <link rel="canonical" href="{{langBase}}{{path}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{langBase}}{{path}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
